h1 {
  text-align: center;
}

#tble {
  border: 1px dotted;
  margin: auto;
}

#head th {
  border: 1px solid red;
  padding: 2em;
  background-color: rgb(252, 164, 132);
}

#row td {
  border: 1px solid rgb(244, 115, 115);
  padding: 2em;
}

#pagination {
  display: flex;
  border: 1px;
  width: 20%;
  margin: auto;
  justify-content: space-around;
  /* justify-content: space-around; */
}

#prev,
#next {
  border: none;
  font-weight: bold;
  border-radius: 8px;
  background-color: rgb(252, 164, 132);
  cursor: pointer;
}
